VBox {
    -fx-background-color: #b9b9b9;
}

Label {
    -fx-background-color: #4c4c4c;
    -fx-text-fill: white;
}

Button {
    -fx-font-size: 20px;
}

#expression {
    -fx-font-size: 36px;
}

.equals {
    -fx-background-color: SteelBlue;
    -fx-text-fill: white;
}

.equals:hover {
    -fx-background-color: #7da9cd;
}

.operation {
    -fx-background-color: #f5923d;
    -fx-text-fill: white;
}

.operation:hover {
    -fx-background-color: #f8ba84;
}

.non-operation {
    -fx-background-color: #e0e0e0;
}

.non-operation:hover {
    -fx-background-color: #c7c7c7;
}